* {
  margin: 0;
  padding: 0;
  font-family: "Itim", sans-serif;
  font-weight: 400;
}

body {
  background-color: #d7e5f7;
}

.s1 {
  min-height: 100vh;
  background: linear-gradient(rgba(126, 187, 202, 0.5), rgba(99, 208, 216, 0.5)),
    url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
      center/cover fixed no-repeat;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Itim", cursive !important;
}

a,
.btn-link {
  color: inherit !important;
  text-decoration: inherit !important;
}

ul,
li {
  text-decoration: none !important;
  list-style-type: none !important;
}
::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(88, 214, 236, 0.2);
  min-height: 80px;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 150%;
  font-size: 1.3rem;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.login-btn {
  border: 1px solid black;
  padding: 0px 10px;
  height: 40px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.login-btn:hover {
  background-color: #8be3f3;
}

@media screen and (max-width: 1367px) {
  body {
    overflow-x: hidden;
    cursor: pointer;
  }

  .nav-links {
    width: 130%;
  }

  .featured-articles-last,
  .last-article {
    display: none;
  }

  .write-us-title {
    padding-top: 0px;
    text-decoration: underline;
    /* margin-top: 100px; */
  }
}

@media screen and (max-width: 500px) {
  .row-about-us {
    display: flex;
    flex-direction: column;
  }
  .about-us-card {
    margin-top: 50px !important;
  }

  iframe {
    width: 80vw !important;
  }

  .map-contents {
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    cursor: pointer;
  }

  .main-heading {
    font-size: 1.5rem;
  }
  .nav-links {
    margin-top: 20px;
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  #search-box {
    padding: 5px;
    width: 260px;
    border: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
  }

  .quote {
    margin-top: 10rem !important;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .featured {
    display: none;
  }

  .card {
    width: 90vw;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4.5px, -2px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-11px, -5.5px);
}

.search-heading {
  position: relative;
  margin-top: 15%;
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-top: -50px;
  margin-left: -100px;
  display: inline-block;
  border: 1px solid;
  border-radius: 20px;
  border-color: #5fd9ee;
}
::placeholder {
  color: rgb(4, 33, 49);
  opacity: 1;
  padding: 10px;
  text-align: center;
  font-family: "Itim", cursive;
}

#search-box {
  padding: 5px;
  width: 560px;
  border: none;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
  #search-box {
    padding: 5px;
    width: 260px;
    border: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
  }

  .nav-links {
    width: 110%;
  }
}

.search-btn,
button,
.btn-link {
  cursor: pointer;
  padding: 0.75rem;
  font-size: 20px;
  border: none;
  background: rgba(0, 0, 0, 0);
}

#search-box:focus,
.search-btn:focus,
.btn-link:active {
  outline: none;
}

.container-fluid {
  padding: 20px;
}

.featured-articles {
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.featured-articles:hover {
  font-size: 110%;
}

.card {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.main-articles {
  border: 1px dotted black;
  padding: 10px;
  margin: 15px;
}
#more {
  display: none;
}

#myBtn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.btn-link {
  color: black;
}

html {
  scroll-behavior: smooth;
}

.row-about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-us-card {
  border: 1px solid black;
  margin-top: 200px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.about-us-card:hover {
  box-shadow: 5px 10px #888888;
  transform: scale(1.1);
}

.write-us-title {
  padding-top: 50px;
  text-decoration: underline;
  margin-top: 100px;
}

.map-contents {
  display: flex;
  align-items: center;
  padding-top: 100px;
}
