.search-heading {
    position: relative;
    margin-top: 15%;
}

.search-bar {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
    border-color: #5fd9ee;
}
::placeholder {
    color: rgb(4, 33, 49);
    opacity: 1;
    padding: 10px;
    text-align: center;
    font-family: "Itim", cursive;
}

#search-box {
    padding: 5px;
    width: 560px;
    border: none;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
}

@media screen and (max-width: 1367px) {
    .featured-articles-last,
    .last-article {
        display: none;
    }

    .write-us-title {
        padding-top: 0px;
        text-decoration: underline;
        /* margin-top: 100px; */
    }
}

@media screen and (max-width: 500px) {
    .row-about-us {
        display: flex;
        flex-direction: column;
    }
    .about-us-card {
        margin-top: 50px !important;
    }

    iframe {
        width: 80vw !important;
    }

    .map-contents {
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    }
}

@media screen and (max-width: 768px) {
    #search-box {
        padding: 5px;
        width: 260px;
        border: none;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0);
    }

    .quote {
        margin-top: 10rem !important;
    }

    .burger {
        display: block;
    }

    .featured {
        width: 100%;
    }

    #accordion,
    .articles-heading-1 {
        display: none;
    }

    .card {
        width: 90vw;
    }
}

@media screen and (max-width: 1100px) {
    #search-box {
        padding: 5px;
        width: 260px;
        border: none;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0);
    }
}

.search-btn,
button,
.btn-link {
    cursor: pointer;
    padding: 0.75rem;
    font-size: 20px;
    border: none;
    background: rgba(0, 0, 0, 0);
}

#search-box:focus,
.search-btn:focus,
.btn-link:active {
    outline: none;
}

.login-btn:hover {
    color: #fff;
}

.container-fluid {
    padding: 20px;
}

.featured-articles {
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.featured-articles:hover {
    font-size: 110%;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
label {
    font-size: 150%;
}
.main-articles {
    border: 1px dotted black;
    padding: 10px;
    margin: 15px;
}

.btn-link {
    color: black;
}

html {
    scroll-behavior: smooth;
}

.row-about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us-card {
    border: 1px solid black;
    margin-top: 200px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.about-us-card:hover {
    box-shadow: 5px 10px #888888;
    transform: scale(1.1);
}

.write-us-title {
    padding-top: 50px;
    text-decoration: underline;
    margin-top: 100px;
}

.map-contents {
    display: flex;
    align-items: center;
    padding-top: 100px;
}
